.qr-code-wrapper{
    display: block;
    margin: 0 auto;
    min-height: 300px;
    min-width: 300px;
}

.data-text{
    display: block;
    margin: 0 auto;
    min-width: 300px !important;
    margin-top: 2rem;
}